.block-1, .block-2, .block-3{
    border: 1px solid teal;
    height: 600px;
    display: flex;
    align-items: flex-end;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 100px;
}
.box{
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.width-small{
    width: 300px;
}
.width-large{
    width: 500px;
}
.width-600{
    width: 600px;
}
.width-400{
    width:400px;
}
.red{
    background: orangered;
}
.orange{
    background: orange;
}
.blue{
    background: turquoise;
}
.green{
    background: springgreen
}
.align-top{
    align-self: flex-start;
}
.block-2{
    flex-direction: column;
    height: 1000px;
}
.block-3{
    flex-wrap: wrap;
    height: 640px;
}